<html lang='en'>
  <head>
    <script defer
      src='https://api-maps.yandex.ru/2.1/?apikey=ad25c35c-ea4d-43a2-a3d1-217bf6808064&lang=ru_RU'
      type='text/javascript'
    >
    </script>

    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU'
      crossorigin='anonymous'
    />
    <script defer
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ'
      crossorigin='anonymous'
    ></script>

    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel="stylesheet" href="/stylesheet/index.css">
    <title>Document</title>
  </head>
  <body> 
    {{>navBar}}
    {{{body}}}
  </body>
</html>
